footer{
    background-color: #209CEE;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    padding-top: 25px;
}

footer h4{
    color: white;
    text-align: center;
    font-family: $fontpage;
    font-size: 1rem;
    margin-top: 9px;
}