#nacional {
    margin-top: 700px;
}


.nacional_subtitulo{
    font-family: $fontpage;
    font-weight: 700;
    margin-top: 15px;
    color: white;
    text-align: center;
    font-size: 2.0rem;
}

.internacional_subtitulo{
    font-family: $fontpage;
    font-weight: 700;
    margin-top: 248px;
    color: white;
    text-align: center;
    font-size: 2.0rem;
}

.card-title{
    font-family: $fontpage;
    font-weight: 700;
    font-size: 1.5rem;
}

.card-text{
    font-family: $fontpage;
}
.list-group{
    font-family: $fontpage;
}